<p>
  Olen kolmen kympin ylittänyt kotiäiti. Perheeseeni kuuluvat mieheni ja meidän huhtikuussa 2013 sekä lokakuussa 2015 syntyneet tytöt.
</p>
<p>
  Kun minusta tuli äiti blogi kertoo äitiydestä, naiseudesta ja meidän perheen arjesta. Joskus sekaan eksyy myös asiaa muusta maailman menosta.
</p>