<div class="block-blog-description closed">
    <div class="blog-description-content slider-up-down">
        <p>
            Olen kolmen kympin ylittänyt kotiäiti. Perheeseeni kuuluvat mieheni ja meidän
            huhtikuussa 2013 sekä lokakuussa 2015 syntyneet tytöt.
        </p>
        <p>
            Kun minusta tuli äiti blogi kertoo äitiydestä, naiseudesta ja meidän perheen arjesta.
            Joskus sekaan eksyy myös asiaa muusta maailman menosta.
        </p>
    </div>
    <div class="block-bottom">
        <hr/>
        <div class="block-button">
            <i class="fa fa-angle-double-up"></i>
        </div>
        <hr/>
    </div>
</div>
