<div class="btn-hide-fb-message">Close</div>
<div class="fb-page"
     data-href="https://www.facebook.com/kunminustatuliaiti"
     data-tabs="messages"
     data-small-header="true"
     data-adapt-container-width="true"
     data-hide-cover="true"
     data-show-facepile="true">
  <div class="fb-xfbml-parse-ignore">
    <blockquote cite="https://www.facebook.com/kunminustatuliaiti">
      <a href="https://www.facebook.com/kunminustatuliaiti">Kun minusta tuli äiti</a>
    </blockquote>
  </div>
</div>